<p id="notice"><%= notice %></p>

<p>
  
  <h2>Title: <%= @story.title %></h2>
</p>

<p>
  <strong>Randomly assigned image</strong>
  <td><img src="<%= @story.picture_url %>" alt="" /></td>
</p>
<p>
  <strong>Randomly assigned category:</strong>
  <h3><%= @story.category.body %></h3>
</p>
<p><strong>Co Author:</strong><%= @co_author%></p>
<h1>Chapters</h1>
<table>
  <thead>
    <tr>
      <th>user</th>
      <th>Body</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @story.chapters.each do |chapter| %>
      <tr>
        <td><%= chapter.user.email%></td>
        <td><%= chapter.body %></td>
        <td><%= link_to 'Show',
                story_chapter_path(chapter.story_id, chapter.id),
                class: "button small" %>
        </td>
        <td>
          <%= link_to 'Edit',
              edit_story_chapter_path(chapter.story_id, chapter.id),
              class: "button small secondary" %>
        </td>
        <td>
          <%= link_to 'Destroy',
              "/stories/#{chapter.story_id}/chapters/#{chapter.id}",
              method: :delete,
              class: "button small alert",
              data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Chapters', new_story_chapter_path(@story.id), class: "button" %> 
<%= link_to 'Edit Story', edit_story_path(@story), class: "button" %> 
<%= link_to 'Back to Story List', stories_path , class: "button secondary"%>
