<p>
  <h2>Title: <%= @story.title %></h2>
</p>

<p>
  <strong>Randomly assigned image</strong>
  <td><img src="<%= @story.picture_url %>" alt="" /></td>
</p>
<p>
  <h3>Category: <%= @story.category.body %></h3>
  
</p>
<p><strong>Co Author:</strong><%= get_co_author(@story)%></p>
<p><strong>Author:</strong><%= get_author(@story)%></p>
<p><strong>Turn:</strong><%= get_user( get_turn( @story.turn ) ) %></p>
<hr />
<h3>Chapters</h3>
<table>
  <thead>
    <tr>
      <th>user</th>
      <th>Body</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @story.chapters.each do |chapter| %>
      <tr>
        <td><%= chapter.user.email%></td>
        <td><%= chapter.body %></td>
        <td><%= link_to 'Show',
                story_chapter_path(chapter.story_id, chapter.id),
                class: "button small" %>
        </td>
        <td>
          <%= link_to 'Destroy',
              "/stories/#{chapter.story_id}/chapters/#{chapter.id}",
              method: :delete,
              class: "button small alert",
              data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @story.chapters.length < 6 && get_turn(@story.turn).to_i == current_user.id %>
  <%= link_to 'New Chapter', new_story_chapter_path(@story.id), class: "button" %> 
<% end %>

<%= link_to 'Back to Story List', stories_path , class: "button secondary"%>
