<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @story.title %>
</p>

<p>
  <strong>Picture url:</strong>
  <%= @story.picture_url %>
</p>
<p>
  <strong>Genre:</strong>
  <%= @story.genre.body %>
</p>

<%= link_to 'Edit', edit_story_path(@story), class: "button" %> 
<%= link_to 'Back', stories_path , class: "button secondary"%>
