<p id="notice"><%= notice %></p>

<p>
  
  <h2>Title: <%= @story.title %></h2>
</p>

<p>
  <strong>Randomly assigned image</strong>
  <td><img src="<%= @story.picture_url %>" alt="" /></td>
</p>
<p>
  <strong>Randomly assigned genre:</strong>
  <h3><%= @story.genre.body %></h3>
</p>

<%= link_to 'Edit', edit_story_path(@story), class: "button" %> 
<%= link_to 'Back', stories_path , class: "button secondary"%>
