<h1>Listing chapters</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @chapters.each do |chapter| %>
      <tr>
        <td><%= chapter.body %></td>
        <td><%= link_to 'Show', story_chapter_path(id: params[:story_id]) %></td>
        <td><%= link_to 'Edit', edit_story_chapter_path(id: params[:story_id]) %></td>
        <td>
          <%= link_to 'Destroy',
          "/stories/#{params[:story_id]}/chapters/#{chapter.id}",
          method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chapter', new_story_chapter_path , class: "button"%>
