<br/>
<h4>New Chapter </h4>
<%= form_for([:story, @chapter]) do |f| %>
  <% if @chapter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chapter.errors.count, "error") %> prohibited this chapter from being saved:</h2>

      <ul>
        <% @chapter.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field chapter-field">
    <%= f.text_area :body, required: true, maxlength: 120  %>
  </div>

  <div class="actions">
    <%= f.submit class: "button",value: "Save" %>
    <%= link_to 'Cancel', story_path(params[:story_id]), class: "button secondary" %>
  </div>
<% end %>
