<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @chapter.body %>
</p>

<p>
  <strong>Story:</strong>
  <%= @chapter.story.title %>
</p>

<p>
  <strong>Users:</strong>
  <% @chapter.story.users.each do |u| %>
    <%= u.email %>
  <% end %>

</p>


<%= link_to 'Edit',
    edit_story_chapter_path(params[:story_id], params[:id] ),
    class: "button small secondary"
  %> 
<%= link_to 'Back',
    story_chapters_path(params[:story_id]), 
    class:"button small" 
  %>
