<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @chapter.body %>
</p>

<p>
  <strong>Story:</strong>
  <%= @chapter.story %>
</p>

<p>
  <strong>User:</strong>
  <%= @chapter.user %>
</p>

<%= link_to 'Edit', "/stories/#{params[:story_id]}/chapters/#{params[:id]}/edit" %> |
<%= link_to 'Back', "/stories/#{params[:story_id]}/chapters/#{params[:id]}" %>
